@model Product

<h2>Thông tin sản phẩm</h2>
<h4>ID: @Model.Id</h4>
<h4>Tên: @Model.Name</h4>
<h4>Giá: @Model.Price</h4>
<h4>Tồn kho: @Model.AvailableQuantity</h4>
<h4>Nhà CC: @Model.Supplier</h4>
<h4>Mô tả: @Model.Description</h4>
<h4>Trạng thái: @Model.Status</h4>